{
  "locations": [
    {
      "name": "Perth, Australia",
      "latitude": -31.9544,
      "longitude": 115.8526,
      "timezone": "Australia/Perth"
    },
    {
      "name": "Subiaco, Australia", 
      "latitude": -31.94967913107263,
      "longitude": 115.8206753846594,
      "timezone": "Australia/Perth"
    },
    {
      "name": "Fremantle, Australia",
      "latitude": -32.0569,
      "longitude": 115.7439,
      "timezone": "Australia/Perth"
    }
  ]
}